/* Bold */
@font-face {
    font-family: 'SFUIText';
    src: url('assets/fonts/SFUIText-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Bold Italic */
@font-face {
    font-family: 'SFUIText';
    src: url('assets/fonts/SFUIText-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* Heavy */
@font-face {
    font-family: 'SFUIText';
    src: url('assets/fonts/SFUIText-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Heavy Italic */
@font-face {
    font-family: 'SFUIText';
    src: url('assets/fonts/SFUIText-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: 'SFUIText';
    src: url('assets/fonts/SFUIText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Light Italic */
@font-face {
    font-family: 'SFUIText';
    src: url('assets/fonts/SFUIText-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* Medium */
@font-face {
    font-family: 'SFUIText';
    src: url('assets/fonts/SFUIText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Medium Italic */
@font-face {
    font-family: 'SFUIText';
    src: url('assets/fonts/SFUIText-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

/* Regular */
@font-face {
    font-family: 'SFUIText';
    src: url('assets/fonts/SFUIText-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Regular Italic */
@font-face {
    font-family: 'SFUIText';
    src: url('assets/fonts/SFUIText-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Semibold */
@font-face {
    font-family: 'SFUIText';
    src: url('assets/fonts/SFUIText-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* Semibold Italic */
@font-face {
    font-family: 'SFUIText';
    src: url('assets/fonts/SFUIText-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

* {
  font-family: 'SFUIText-Light', 'SFUIText-Medium' !important;
}
